
    <div id="cuerpo">
        <div class="container d-flex justify-content-center align-items-center min-vh-100">

            <div class="row border rounded-5 p-3 bg-white shadow box-area"  >
                
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                        <div class="header-text mb-4">
                            <h2 style="text-align: center">INICIAR SESIÓN</h2>
                        </div>
                        <div class="input-group mb-5 d-flex justify-content-between">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Correo Electronico">
                        </div>
                        <div class="input-group mb-1">
                            <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Contraseña">
                        </div>
                        <div class="input-group mb-5 d-flex justify-content-between">
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-success w-100 fs-6" routerLink="/Home">Iniciar Sesión</button>
                        </div>
                        <div class="row">
                            <small>No tienes una cuenta aún? <a routerLink="/Register" style="color: #47141e;">Registrarse</a></small>
                        </div>
                        <div class="input-group mb-5 d-flex justify-content-between">
                        </div>
                        
                </div>
             </div> 

             <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #47141e;">
                <div class="featured-image mb-3">
                    <img src="icons/logo3.png" class="img-fluid" style="width: 950px;">
                </div>
            </div> 
             
        </div>
    </div>