
<div class="cuerpo">
  <nav class="navbar navbar-expand-lg  fixed-top" style="background-color: #1d1d1d; box-shadow: 0 1px 12px #47141e;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        
    <ul class="navbar-nav mx-auto  navbar-nav-scroll">

          <li class="nav-item">
            <a class="nav-link" routerLink="/Admins" style="color: white;">
              <img id="logo" src="icons/nueva-cuenta.png" alt="Productos"> USUARIOS
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/Dashboard" style="color: white;">
              <img id="logo" src="icons/agregar-producto.png" alt="Productos"> PRODUCTOS
            </a>
          </li>


            <li class="nav-item">
              <a class="nav-link" routerLink="/Videojuegos" style="color: white;">
                <img id="logo" src="icons/categoria.png" alt="Productos"> CATEGORIAS
              </a>
            </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/Dashboard" style="color: white;">
              <img id="logo" src="icons/politica-de-reembolso.png" alt="Productos"> PEDIDOS
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/Compradores" style="color: white;">
              <img id="logo" src="icons/lista-de-verificacion.png" alt="Productos"> DETALLES DEL PEDIDO
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/Ventas" style="color: white;">
              <img id="logo" src="icons/lista-de-verificacion (1).png" alt="Productos"> ESTADO DEL PEDIDO
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/Dashboard" style="color: white;">
              <img id="logo" src="icons/seguimiento.png" alt="Productos"> SEGUIMIENTO DE PEDIDOS
            </a>
          </li>

          <li class="nav-item dropdown">
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/Usuarios"><img id="logo"
                    src="icons/ubicacion.png" alt="User">DIRECCIONES</a></li>
            </ul>
          </li>

        </ul>
      
        <form class="d-flex">
          <button class="btn btn-danger" (click)="LogOut()"><img id="exit" src="icons/exit.png"
              alt="cerrarSesion"> Salir</button>
        </form>
      
      </div>
    </div>
  </nav>
</div>