<app-home></app-home>

<div class="cliente-crud-container">
  <h2>{{ isEditing ? 'Editar Usuario' : 'Crear Usuario' }}</h2>
  
  <form [formGroup]="clienteForm" (ngSubmit)="editOrCrear(isEditing)">
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" type="text" required>
    
    <label for="apellido">Apellido:</label>
    <input id="apellido" formControlName="apellido" type="text" required>
    
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" required>
    
    <label for="contrasena">Contraseña:</label>
    <input id="contrasena" formControlName="password" type="password" required>
    
    <label for="telefono">Teléfono:</label>
    <input id="telefono" formControlName="telefono" type="text" required>
    
    <button type="submit">{{ isEditing ? 'Actualizar' : 'Crear' }}</button>
    <button type="button" (click)="resetForm()">Cancelar</button>
  </form>

  <h3>Lista de Usuarios</h3>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Fecha de Registro</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.usuNombre }}</td>
        <td>{{ cliente.usuApellido }}</td>
        <td>{{ cliente.usuEmail }}</td>
        <td>{{ cliente.usuTelefono }}</td>
        <td>{{ cliente.usuFechaRegistro | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>
          <button class="edit" (click)="getCliente(cliente.usuId)">Editar</button>
          <button class="delete" (click)="editCliente(cliente)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
